name: Convert raw files to CSV

on:
  push:
    branches:
      - main
    paths:
      - "data/raw/**"
      - ".github/workflows/convert_to_csv.yml"
  workflow_dispatch:
  workflow_run:
    workflows: ["Site Update Raw - Nightly cronjob"]
    types:
      - completed

jobs:
  convert-to-csv:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          version: "latest"

      - name: Processing files to csv
        run: |
          mkdir -p data/csv
          uv run python main.py -a

      - name: Commit and push changes
        if: github.ref == 'refs/heads/main'
        run: |
          git status
          git config --local user.email "noreply@github.com"
          git config --local user.name "github-actions[bot]"
          git add data/csv
          if ! git diff-index --quiet HEAD; then
            git commit -m "Converting files to CSV format - $(date +'%Y-%m-%d')"
            git push -u origin main
          else
            echo "No changes to commit"
          fi
