name: CSV Lint on CSV File Changes

on:
  push:
    paths:
      - "data/**.csv"
      - ".github/workflows/lint.yml"
  pull_request:
    paths:
      - "**.py"
      - ".github/workflows/lint.yml"

jobs:
  csv-lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read # Read access to the repository contents is enough for linting
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1
          persist-credentials: false

      - name: csvlinter
        uses: kcheriyath/csvlinter@776f3c1d25d37a339d3bcaea683efa1d0fee1576 # V0.6.0
        with:
          find_pattern: "*.csv"
          fail_on_error: "true"
          extra_params: "--lazyquotes"
